.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  box-shadow: 0 0 8px black;
  background-color: rgb(186, 255, 255);
}

.menulist {
  display: flex;
  gap: 8px;
}
